
.icon-statement {
    display: flex;
    align-items: center;
}

.icon-statement__image {     
    width:30px;
    height:30px;
    margin-right: 10px;
    color: green;
}

.icon-statement__text {
    line-height:1.4rem;
}

