.home__icon-statement-wrapper {
    max-width: 600px;
}

.home-about-us__text {
    max-width: 550px;
    line-height: 1.7;
    text-align: center;
    margin: 30px 0;
}

.home-runner {  
    margin-top:50px; 
    width:100%;     
    max-width: 500px;
    min-width: 330px;
}

.home-rider {   
    margin-top:15px; 
    margin-bottom:15px; 
    width:100%;     
    max-width: 740px;
    min-width: 520px;
    
}


.home-get-involved {
    margin-top: 55px;
    max-width: 1300px;
    flex-wrap: wrap;
}

.home-get-inolved__cols{
    flex-basis: calc(33% - var(--app-spacing));
    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
    .home-get-inolved__cols{
        margin:0 10%;
        flex-basis: 100%;
        margin-bottom: 50px; 
    }
  }



.home-grass-divider {     
    background-repeat: repeat-x;
    background-image: url(/grass3.png);
    background-size: contain;
    width: 100%;
    height: 45px;
    
}


