.header {    
    background:rgb(140 188 155 / 80%);
    display:flex;
    height: var(--app-header-height);
    align-items: center;  
    column-gap: var(--app-nav-spacing);    
    padding:0 var(--app-spacing);
}  
.header__spacer {
    flex-grow: 1;
}

.header__title {
    justify-self: flex-start;
    color: var(--app-primary-color);
    font-size:1.3rem;
}