:root {
  --app-spacing : 30px;
  --app-double-spacing: 40px;
  --app-border-radius: 10px;
  --app-nav-spacing: 15px;
  --app-primary-color: green;
}

body {
  color: rgb(30, 30, 31);
  font-family: 'Montserrat', sans-serif;  
  color: var(--app-primary-color);
}

.app {
  background-color: white;   
  position:relative;
  display:flex;
  flex-direction: column;  
  margin: 0 auto;
}

.main {
  padding: var(--app-spacing);
  display:flex;
  flex-direction: column;
}


.card {  
  border-radius: var(--app-border-radius);
  border: 1px solid grey;
  padding: var(--app-double-spacing);
}

/* grid */
.row {  
  flex-basis: 100%;
  display: flex;
  column-gap:var(--app-spacing);  
}

.col {
  /* padding: var(--app-spacing);   */
  
}

.half {
  flex-basis: 50%;
}


