:root {
  --app-spacing : 50px;
  --app-double-spacing: 100px;
  --app-border-radius: 10px;
  --app-nav-spacing: 15px;
  --app-primary-color: #7a7a7a;
  --app-header-height: 80px;
  --app-column-count: 3;
}

@media screen and (max-width: 900px) {
  :root {
    --app-spacing : 20px;    
    --app-header-height: 65px;
    --app-column-count: 2;    
  }
}

@media screen and (max-width: 650px) {
  :root {
    /* --app-spacing : 20px;
    --app-primary-color: purple;
    --app-header-height: 65px; */
    --app-column-count: 1;    
  }
}

body {       
  /* background-repeat: repeat;
  background-image: url(/plantTexture.png);
  background-size: contain;
  background-attachment: fixed; */
  width: 100%;
  height: 200px;
  color: rgb(30, 30, 31);
  font-family: 'Montserrat', sans-serif;  
}

.app {
  background-color: rgb(255, 255, 255);   
  color: var(--app-primary-color);  
  position:relative;
  display:flex;
  flex-direction: column;  
  margin: 0 auto;  
  overflow-x: hidden;
  /* border-left: 1px solid rgb(204, 203, 203);
  border-right: 1px solid rgb(204, 203, 203); */
  
}

.block-header__wrapper {  
  display: flex;
  padding-top: 64px;
  justify-content: center;    
}

.block-header {
  display: inline-block;   
  padding: 10px;
  background-color: #c4dede;  
  color: white;
  font-size: 2.1rem;
  border-radius: 3px;
}

.app__h2 {
  margin-top:0;
  margin-bottom: 0;
  font-size: 2.3rem;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .app__h2{
      font-size: 1.7rem;
  }
}

.main {  
  padding: var(--app-spacing);
  display:flex;
  flex-direction: column;
}


.card {  
  border-radius: var(--app-border-radius);
  border: 1px solid grey;
  padding: var(--app-double-spacing);
}

.flex-center__vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* grid */
.row {  
  flex-basis: 100%;
  display: flex;
  column-gap:var(--app-spacing);  
}

.auto-col{
  column-count: var(--app-column-count);
}

.app__h1 {
  text-align: center;
  margin-top:50px;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 400;
}



.app__hero2-wrapper {
  display: flex;
  justify-content: center;
}

.app__hero2 { 
  margin-top: 63px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 1202px;
  min-width: 610px;
  margin-left:4%;
  margin-right: 4%;
}

.app__info {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 30px;
}






.cols-2{
  column-count: 2;
}

.cols-3{
  column-count: 3;
}
.half {
  flex-basis: 50%;
}


.Button {
  color: white;
}

.circle-border {
  border-radius: 50%;  
  border: 1px solid var(--app-primary-color);
}


