:root {
  --app-spacing : 10px;
}

body {
  
  background-color: rgb(255, 255, 255);
}

.app {
  display:flex;
  flex-direction: column;  
}

.main {
  display:flex;
}

.row {
  padding: var(--app-spacing);
  flex-basis: 100%;
  display: flex;
  column-gap:var(--app-spacing);  
}

.col {
  padding: var(--app-spacing);
  background-color: green ;
  flex-grow:1;
}

